{% extends "layout.html" %}

{% block title %}
    Login

{% endblock %}
{% block style %}
    <style>
        .bg {
            /* The image used */
            background-image: url("static/images/login.jpg");

         /* Full height */
            height: 100%;

            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .container {
            display: flex;
            align-items: center;
            padding-top: 20px;
            justify-content: top;
            flex-direction: column;
            height: 100vh; /* or any height you need */
        }

    </style>        
{% endblock %}



{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email" placeholder="Username/ Email" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

    <div>
        <a href="/register">Register?</a> | <a href="/forgot">Forgot Password?</a>
        {% if error %}
        <p style="color: red">{{error}}</p>
        {% else %}
        {% endif %}
    </div>
{% endblock %}
    


