{% extends "layout.html" %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block style %}
    <style>
        .cards {
            width: 280px; 
            height: 300px; 
            object-fit: cover;
        }

        .cards:hover {
            cursor: pointer;
            filter: brightness(80%);
        }

        .cardText {
            font-family: 'Water'; 
            font-size: 32px;
        }

        .darkened { 
            filter: brightness(90%);
            opacity: 0.5;
        }

        .page {
            position: relative;
        }


        .bg{
            background-image: url("static/images/search.jpg");
            
            height: 100%;
            background-repeat: no-repeat;
            background-size: 110%;
            background-position: -100px -300px;
            overflow: hidden;
        }

        #popup {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(245, 255, 240, 0.9);
            padding: 60px;
            z-index: 2;
            width: 50%;
            border-radius: 10px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        }

        .tile {
            margin-bottom: 2px;
        }

        .radioText {
            font-size: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    </style>
{% endblock %}

{% block main %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--all above is necessary for bootstrap to function in this snippet-->
    
    <div id="popup" class="container"> 
        <div class="row align-items-center" style="padding-left: 0px; padding-right: 0px;">
            <div class="col"> <img id="popupImage" src="" class="cards"> </div>
            <div class="col">
                <div>
                    <h1 style="font-family: Water;">Wayanad</h1>
                    
                    <div style="padding-top: 20px;">
                        <div class="tile">
                            <input type="radio" name="tile" onclick="checkSelection()">
                            <label class = "radioText">$199 onwards</label>
                        </div>
                        <div class="tile">
                            <input type="radio" name="tile" onclick="checkSelection()">
                            <label class = "radioText">$299 onwards</label>
                        </div>
                        <div class="tile">
                            <input type="radio" name="tile"  onclick="checkSelection()">
                            <label class = "radioText" style="padding-bottom: 12px;">$399 onwards</label>
                        </div>
                        <button id="continueButton" class="btn btn-success" style="background-color: #7CFE94; color: black; padding-left: 40px; padding-right: 40px;" disabled>Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page dark">
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
        </div>
        
        <div class="carousel slide" id="slider" data-ride="carousel" style="padding-top: 40px;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm image-container" onclick="showCard(this)">
                                <img src="/static/images/wayanad.jpg" class = "cards">
                                <div class="text-overlay cardText">Wayanad</div>
                            </div>
                            <div class="col-sm image-container" onclick="showCard(this)">
                                <img src="/static/images/meghalaya.jpg" class = "cards">
                                <div class="text-overlay cardText">Meghalaya</div>
                            </div>
                            <div class="col-sm image-container" onclick="showCard(this)">
                                <img src="/static/images/Ladakh.jpg" class = "cards">
                                <div class="text-overlay cardText">Ladakh</div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="carousel-item" id="slide2">
                    <div class="row">
                        <div class="col-sm image-container" onclick="showCard(this)">
                            <img src="/static/images/banaras.png" class="cards">
                            <div class="text-overlay cardText">Banaras</div>
                        </div>
                        <div class="col-sm image-container" onclick="showCard(this)">
                            <img src="/static/images/jaipur.png" class="cards">
                            <div class="text-overlay cardText">Jaipur</div>
                        </div>
                        <div class="col-sm image-container" onclick="showCard(this)">
                            <img src="/static/images/kolkata.jpg" class="cards">
                            <div class="text-overlay cardText">Kolkata</div>
                        </div>
                    </div>
                </div>
        
                <div class="carousel-item" id="slide3">
                    <div class="row">
                        <div class="col-sm image-container" onclick="showCard(this)">
                            <img src="/static/images/Mahabalipuram.jpg" class="cards">
                            <div class="text-overlay cardText">Mahabalipuram</div>
                        </div>
                        <div class="col-sm image-container" onclick="showCard(this)">
                            <img src="/static/images/Goa.webp" class="cards">
                            <div class="text-overlay cardText">Goa</div>
                        </div>
                        <div class="col-sm image-container" onclick="showCard(this)">
                            <img src="/static/images/Sikkim.webp" class="cards">
                            <div class="text-overlay cardText">Sikkim</div>
                        </div>
                    </div>
                </div>
        
            </div>
            <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <script>
        function showCard(element) {
                var imgSrc = element.querySelector('img').src;
                document.querySelector('.dark').classList.add('darkened');
                document.querySelector('.page').classList.add('darkened');
                document.getElementById('popup').style.display = 'block';
                document.getElementById('popup').style.opacity = 1;

                document.getElementById('popupImage').src = imgSrc;
                document.getElementById('popup').style.display = 'block';
            
                document.addEventListener('click', handleClickOutside);
            }

        function checkSelection() {
                const radios = document.querySelectorAll('input[name="tile"]');
                const continueButton = document.getElementById('continueButton');
                continueButton.disabled = !Array.from(radios).some(radio => radio.checked);
            }
    </script>
{% endblock %}