{% extends "layout.html" %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block main %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--all above is necessary for bootstrap to function in this snippet-->
    
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
        </span>
    </div>
    
    <div class="carousel slide" id="slider" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm image-container">
                            <img src="/static/images/wayanad.png" style="width: 280px; height: auto;">
                            <div class="black-overlay"></div>
                            <div style="font-family: 'Water'" class="text-overlay">Wayanad</div>
                        </div>
                        <div class="col-sm image-container">
                            <img src="/static/images/wayanad.png" style="width: 280px; height: auto;">
                            <div class="black-overlay"></div>
                            <div style="font-family: 'Water'" class="text-overlay">Wayanad</div>
                        </div>
                        <div class="col-sm image-container">
                            <img src="/static/images/wayanad.png" style="width: 280px; height: auto;">
                            <div class="black-overlay"></div>
                            <div style="font-family: 'Water'" class="text-overlay">Wayanad</div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="carousel-item" id="slide2">
                <img src="https://picsum.photos/1000/600/">
                <div class="carousel-caption">
                    <h4>Welcome</h4>
                    <p>Travel! Enjoy!</p>
                </div>
            </div>
    
            <div class="carousel-item" id="slide3">
                <img src="https://picsum.photos/1000/600/">
                <div class="carousel-caption">
                    <h4>Welcome</h4>
                    <p>Travel! Enjoy!</p>
                </div>
            </div>
    
        </div>
        <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock %}